<!doctype HTML>
<html>
  <head>
  </head>
  <body>
    <h1>Upload it</h1>

    <form action="/upload?profile=true" method="post" charset="UTF-8" enctype="multipart/form-data">
      <label>File:</label>
      <input type="file" name="file" />

      <label>Filename</label>
      <input type="text" name="filename" />

      <label>title</label>
      <input type="text" name="title" />

      <label>user_name</label>
      <input type="text" name="user_name" />

      <label>user_email</label>
      <input type="text" name="user_email" />

      <label>description</label>
      <input type="text" name="description" />

      <input type="submit" value="SUBMIT THAT SHIT" />
    </form>

  </body>
</html>
